@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.normal {
  background-color: #a8a77a;
}
.fighting {
  background-color: #c22e28;
}
.flying {
  background-color: #a98ff3;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.rock {
  background-color: #b6a136;
}
.bug {
  background-color: #a6b91a;
}
.ghost {
  background-color: #735797;
}
.steel {
  background-color: #b7b7ce;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.grass {
  background-color: #a6f286;
  color: #1e460c;
}
.electric {
  background-color: #f7d02c;
}
.psychic {
  background-color: #f95587;
}
.ice {
  background-color: #96d9d6;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.fairy {
  background-color: #d685ad;
}
.unknown {
  background-color: #d685ad;
}
.shadow {
  background-color: #d685ad;
}
